{% if featuresFoodList %}
<!--================Featured Section Start =================-->
<section class="section-margin mb-lg-100">
    <div class="container">
        <div class="section-intro mb-75px">
            <h4 class="intro-title">{% trans %}food.title{% endtrans %}</h4>
            <h2>{% trans %}food.subtitle{% endtrans %}</h2>
        </div>
        <div class="owl-carousel owl-theme featured-carousel">
            {% for featuredFood in featuresFoodList %}

                <div class="featured-item">
                    <img class="card-img rounded-0" style="max-height: 20rem" src="{{ asset(featuredFood.imagePath) }}" alt="{{ featuredFood.Translations(_locale).name }}">
                    <div class="item-body">
                        <a href="#">
                            <h3>{{ featuredFood.Translations.name }}</h3>
                        </a>
                        <p>{{ featuredFood.Translations.ingredients }}</p>
                        <div class="d-flex justify-content-between">
                            <ul class="rating-star">
                                <li><i class="ti-star"></i></li>
                                <li><i class="ti-star"></i></li>
                                <li><i class="ti-star"></i></li>
                                <li><i class="ti-star"></i></li>
                                <li><i class="ti-star"></i></li>
                            </ul>
                            {% if featuredFood.price %}
                                <h3 class="price-tag">${{ featuredFood.price }}</h3>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<!--================Featured Section End =================-->
{% endif %}
