    <h1>Nueva reserva en Vinales.taxi.</h1>

    {% if not booking.differenceTimeGreaterThan12Hours and not booking.actionTaken%}
        <h2 style="color: #491217">
            ======================================================<br>
            Esta reserva tiene menos de 12 horas para realizarse!!<br>
            ======================================================
        </h2>
    {% endif %}
    <table class="table">
        <tbody>
            <tr>
                <th>Número de reserva</th>
                <td>{{ booking.orderNumber }}</td>
            </tr>
            <tr>
                <th>Nombre del cliente</th>
                <td>{{ booking.clientName }}</td>
            </tr>
            <tr>
                <th>Email del cliente</th>
                <td>{{ booking.clientEmail }}</td>
            </tr>
            <tr>
                <th>Telefono del cliente</th>
                <td>{{ booking.telephone }}</td>
            </tr>            
            
            <tr>
                <th>Cantidad de personas</th>
                <td>{{ booking.peopleCount }}</td>
            </tr>

            <tr>
                <th>Fecha</th>
                <td>{{ booking.bookingDateTime ? booking.bookingDateTime|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Hora</th>
                <td>{{ booking.bookingDateTime ? booking.bookingDateTime|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Mensaje del cliente</th>
                <td>{{ booking.clientMessage }}</td>
            </tr>
            <tr>
                <th>Idioma</th>
                <td>{{ booking.bookingLang }}</td>
            </tr>
            <tr>
                <th>Fecha/Hora en que reserva</th>
                <td>{{ booking.bookingTime ? booking.bookingTime|date('Y-m-d H:i:s') : '' }}</td>
            </tr>

            <tr>
                <th>Campaña</th>
                <td>{{ booking.campaign }}</td>
            </tr>

        </tbody>
    </table>



    <a href="{{ absolute_url('booking_index') }}">Ver todas las reservas</a>

    <a href="{{ absolute_url('booking_edit', {'id': booking.id}) }}">Edit</a>

