<!-- ================ start footer Area ================= -->
  <footer class="footer-area section-gap">
    <div class="container">
      <div class="footer-bottom row align-items-center text-center text-lg-left">
        <p class="footer-text m-0 col-lg-8 col-md-12">
Copyright &copy; {{ 'today' | date('Y') }}.  Havana, Cuba. All rights reserved <br> This website was made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://habana.tech" target="_blank">HabanaTech</a>
        <div class="col-lg-4 col-md-12 text-center text-lg-right footer-social">
                <ul class="social-icons">
                        <li>
                            <a href="https://www.facebook.com/ElizaldeHabana/" target="_blank">
                                {{ source('svg/facebook.svg') }}
                            </a>
                        </li>
                        <li>
                            <a href="http://www.tripadvisor.com/Restaurant_Review-d12580283" target="_blank">
                                {{ source('svg/tripadvisor.svg') }}
                            </a>
                        </li>
                        <li>
                            {# TODO: LINK To instagram#}
                            <a href="#">
                                    {{ source('svg/instagram.svg') }}
                            </a>
                        </li>
                        <li>
                            <a href="mailto:elizaldebarrestaurante@gmail.com">
                                    {{ source('svg/mail.svg') }}
                            </a>
                        </li>
                        
                    </ul>
        </div>
      </div>
      {{ source('svg/wave03.svg') }}
    </div>
  </footer>
  <!-- ================ End footer Area ================= -->

