<!--================ Header Menu Area start =================-->
<header class="header_area">



    <div class="main_menu">
    {#
         <!--special new year -->
    {{ include('frontend/components/index/__special_newyear_lightrope.html.twig') }}

    #}
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container box_1620">
                <a class="navbar-brand logo_h" href="{{ path('frontend') }}">
                  {% set dayofyear = 'today' | date('z')  %}
                  {% if  dayofyear > 350 or dayofyear < 10%}
                    <img src="{{ asset('img/logo_newyear.png') }}" alt="Elizalde Habana">
                  {% else %}
                    <img src="{{ asset('img/logo_red.png') }}" alt="Elizalde Habana">
                  {% endif %}
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav justify-content-end">
                        <li class="nav-item active"><a class="nav-link" href="{{ path('frontend') }}">{% trans %}nav.home{% endtrans %}</a></li>
                        <li class="nav-item"><a class="nav-link" href="#about">{% trans %}nav.about{% endtrans %}</a></li>
                        <li class="nav-item"><a class="nav-link" href="#food">{% trans %}nav.food{% endtrans %}</a></li>
                        <li class="nav-item"><a class="nav-link" href="#contact">{% trans %}nav.contact{% endtrans %}</a></li>
                        <li class="nav-item"><a class="nav-link" href="#booking">{% trans %}nav.booking{% endtrans %}</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<!--================Header Menu Area =================-->
<!--================Header Icon SVG definition start =================-->
{#{ source('svg/social_icons.svg') }#}
<!--================Header Icon SVG definition =================-->
